@model CreateCategoryViewModel

<h1>Add New Category !</h1>
<hr />

<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="label-control">Category Name</label>
                <input required asp-for="Name" class="form-control" />
                @*<input name="Name" class="form-control" />*@
            </div>
        </div>
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Save"/>
    <a asp-controller="Category" asp-action="Index" class="btn btn-danger">Back</a>
</form>

@*@section Scripts{
    <script>

    </script>
}*@